
/*Estilo del HTML comunidad*/




/*Estilo del HTML podcast*/






/*Estilo para mobile INDEX*/

@media only screen and (max-width: 481px) {
    body {
        background-color: black;
    }

    /* HEADER */ /**/




    /* MAIN */

     main .grid-principal {
    background-color: black;
    display: grid;
    grid-template-areas: 
    "bienvenidos bienvenidos"
    "comunidad comunidad"
    "ultimo-stream ultimo-stream"
    "imagen-uno imagen-uno";
    grid-template-columns: 6fr 4fr;
    grid-template-rows: auto auto auto auto;
    padding-top: 20px;
    border-radius: 10px;
    }

    /* BIENVENIDA MAIN */

    main .grid-principal h1 {
    grid-area: bienvenidos;
    font-family: "Roboto Condensed", sans-serif;
    color: #e997b2;
    font-size: 1.5rem;
    padding-top: 100px;
    text-align: center;
    }

    main .grid-principal p {
    grid-area: comunidad;
    font-size: 1rem;
    color: white;
    text-align: center;
    margin-top: 10px;
    font-family: "Quicksand", sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    
    }

    main .grid-principal h3 {
    grid-area: ultimo-stream;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    }

    main .grid-principal h3 a {
    color: white;
    text-decoration: none;
    display: block;
    background-color: #a444ff;
    padding: 10px;
    border-radius: 10px; 
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
       
    }

    .imagen-uno {
    grid-area: imagen-uno;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 30px;
    }

    /* MAIN REDES SOCIALES DONDE VER*/

    .donde-ver {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 203, 240);
    height: 100px;
    width: 100%;
    }

    .twitch {
    height: 50px;
    }

    .youtube {
    height: 50px;
    }

    .tiktok {
    height: 50px;
    }

    .spotify {
    height: 50px;
    }

    /*CLIPS DESTACADOS DEL MES*/

    .presentacion-clips {
    background-color: rgb(0, 0, 0);
    font-size: 1rem;
    color: #e997b2;
    text-align: center;
    padding: 30px;
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .clip1 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: rgb(255, 204, 252) 6px solid;
    border-radius: 10px;
    }

    .clip2 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: rgb(255, 204, 252) 6px solid;
    border-radius: 10px;
    }

    /*FORMULARIO DE RECOMENDACION*/

    .titulo-recomendacion {
    background-color: black ;
    height: 60px;
    color: #e997b2;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2rem;
    }

    .formulario {
    background-color: rgb(255, 203, 240);
    height: 150px;
    width: 100%;
    border: black 20px solid;
    font-family: "Quicksand", sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 10px;

    }

    .formulario label {
    display: flex;
    align-items: flex-start;
    }

    .enviar {
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
    }

    /*FOOTER*/

    footer {
    background-color: black;
    }

    footer img {
    width: 100%;
    }
    }




