@use "./variable" as*;

/* Estilo mobile INDEX  */

@media only screen and (max-width: 481px) {

.barra-nav {
  a img {
    height: 75px;
  }

  .paginas {
    font-size: 1rem;

  }
}

main {
  .grid-principal {
    background-color: black; 
    display: grid; 
    grid-template-areas: 
    "bienvenidos bienvenidos"
    "comunidad comunidad" 
    "imagen-uno imagen-uno"
    "ultimo-stream ultimo-stream"; 
    grid-template-columns: 6fr 4fr; 
    grid-template-rows: auto auto auto auto; 
    padding-top: 0px; 
    border-radius: 10px;

    h1 {
      font-size: 2rem;
      text-align: center;
      padding-bottom: 5px;
      padding-left: 0px;
    }

    p {
      font-size: 0.9rem;
      padding-top: 0px;
      text-align: center;
      padding-left:10px;
      padding-right: 10px;
      padding-bottom: 10px;
    }

    h3 a {
      font-size: 1rem;
      padding: 5px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .donde-ver { 
    width: 100%;
    height: 100px;
    
    a img {
    width: 80px;
    height: 70%;
  }

  .twitch {
    height: 60px;
    width: 60px;
  }

  .youtube {
    height: 80px;
    width: 80px;
  }

  .spotify {
    height: 60px;
    width: 60px;
  }

  .tiktok {
    height: 60px;
    width: 60px;
  }

  }
  }



.videos {
  display: flex;
  flex-direction: column;
  align-items: center;

  .clip1 {
    width: 85%;
    height: 60px;
  }

  .clip2 {
    width: 85%;
    height: 60px;
  }
}

.recomendacion {
  h2 {
    font-size: 1rem;
    padding-top: 0px;
  }
 .formulario {
    background-color: rgb(255, 203, 240);
    height: 180px;
    width: 100%;
    border: black 20px solid;
    font-family: "Quicksand", sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    padding-top: 10px;

    label {
      display: flex;
      align-items: flex-start;
    }

    .enviar {
      margin-left: 60px;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 0.7rem;
      display: flex;
      flex-direction: column;
      justify-content: end;
      margin-top: 10px;
      
    }
  }
}


}

/*Estilo para mobile COMUNIDAD*/ 
@media only screen and (max-width: 481px) {


main {
  .comunidad-radiofina {

    h1 {
      color: $rosa;
      text-align: center;
      font-size: 1.5rem;
      font-family: "Roboto Condensed", sans-serif;
      font-weight: bolder;
    }

    p {
      text-align: center;
      color: $blanco;
      font-size: 1rem;
      font-family: "Quicksand", sans-serif;
      padding-left: 10px;
      padding-right: 10px;
    }

    h2 {
      text-align: center;
      padding-bottom: 10px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 1.5rem;
      font-weight: bold;
      color: $rosa;
    }
  }

  .discord-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    margin-top: 40px;

    h3 {
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 1.1rem;
      text-align: center;
      font-weight: bold;
      color: $rosa;
    }

    a img {
      height: 60px;
      width: 60px;
    }

    p {
      font-family: "Quicksand", sans-serif;
      color: $blanco;
      font-size: 0.9rem;
    }
  }

  .formulario-dos {
    background-color: rgb(255, 203, 240);
    height: 310px;
    border:$blanco 5px solid;
    font-family: "Quicksand", sans-serif;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 20px;
    margin-left: 8px;
    margin-right: 8px;

    h3 {
      text-align: center;
      padding-top: 15px;
      font-weight: bolder;
      margin-bottom: 20px;
      font-size: 0.9rem;
    }

    .form-texto {
      vertical-align: middle;
    }

    .labels {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
  }

  .enviar {
    margin-top: 5px;
    padding: 2px;
    font-size: 0.9rem;
  }
  }
}


/*Estilo para mobile PODCAST*/ 
@media only screen and (max-width: 481px) {

  main {

    .presentacion-podcast {
        h1 {
                color: $rosa;
                text-align: center;
                font-size: 1.5rem;
                font-family: "Roboto Condensed", sans-serif;
                font-weight: bolder;
        }

        p{
             text-align: center;
        color: $blanco;
        font-size: 1rem;
        font-family: "Quicksand", sans-serif;
        padding-left: 10px;
        padding-right: 10px;
        }

        .aca-podes {
                            color: $rosa;
                text-align: center;
                font-size: 1.5rem;
                font-family: "Roboto Condensed", sans-serif;
                font-weight: bolder;

        }
    }

    .episodios {
        h3 {
            margin-bottom: 20px;
            font-size: 1.2rem;
            font-weight: bold;
        }
    }

    .click { 
        margin-bottom: 30px;
        font-size: 1rem;
        padding-left: 10px;
    }
}
}
}



/*Estilo para tablet COMUNIDAD*/ 
@media only screen and (max-width: 1280px) {

    header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #232323;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 0 20px;
  box-sizing: border-box;
  .logo_radiofina {
    height: 100px;
    display: block;
  }
  .paginas {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 45px;
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    a {
      color: #e997b2;
      text-decoration: none;
      line-height: 1;
      display: flex;
      align-items: center;
    }
  }
}

  .comunidad-radiofina {
    color: $blanco;

    h1 {
      color: $rosa;
      text-align: center;
      font-size: 1.6rem;
      font-family: "Roboto Condensed", sans-serif;
      font-weight: bolder;
    }

    p {
      text-align: center;
      color: $blanco;
      font-size: 1rem;
      font-family: "Quicksand", sans-serif;
      padding-left: 10px;
      padding-right: 10px;
    }

    h2 {
      text-align: center;
      padding-bottom: 10px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 1.5rem;
      font-weight: bold;
      color: $rosa;
    }
  }

  .discord-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    margin-top: 40px;

    h3 {
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 1.5rem;
      text-align: center;
      font-weight: bold;
      color: $rosa;
    }

    a img {
      height: 90px;
      width: 90px;
    }

    p {
      font-family: "Quicksand", sans-serif;
      color: $blanco;
      font-size: 1.2rem;
    }
  }

  .formulario-dos {
    background-color: rgb(255, 203, 240);
    height: 290px;
    border:$blanco 5px solid;
    font-family: "Quicksand", sans-serif;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 20px;
    margin-left: 8px;
    margin-right: 8px;

    h3 {
      text-align: center;
      padding-top: 15px;
      font-weight: bolder;
      margin-bottom: 20px;
      font-size: 1rem;
    }

    .form-texto {
      vertical-align: middle;
    }

    .labels {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
  }
}
}

/*Estilo para tablet PODCAST*/ 
@media only screen and (max-width: 1280px) {

    .presentacion-podcast {
        h1 {
                color: $rosa;
                text-align: center;
                font-size: 2.5rem;
                font-family: "Roboto Condensed", sans-serif;
                font-weight: bolder;
        }

        p{
             text-align: center;
        color: $blanco;
        font-size: 1.1rem;
        font-family: "Quicksand", sans-serif;
        padding-left: 10px;
        padding-right: 10px;
        }

        .aca-podes {
                            color: $rosa;
                text-align: center;
                font-size: 1.8rem;
                font-family: "Roboto Condensed", sans-serif;
                font-weight: bolder;

        }
    }

    .episodios {
        h3 {
            margin-bottom: 20px;
            font-size: 1.6rem;
            font-weight: bold;
            text-align: center;
        }
    }

    .click { 
        margin-bottom: 30px;
        font-size: 1.3rem;
        padding-left: 10px;
    }



}

/*Estilo para tablet INDEX*/ 

@media only screen and (max-width: 1280px) {

.barra-nav {
  a img {
    height: 75px;
  }

  .paginas {
    font-size: 1rem;

  }
}

main {
  .grid-principal {
    background-color: black; 
    display: grid; 
    grid-template-areas: 
    "bienvenidos bienvenidos"
    "comunidad comunidad" 
    "imagen-uno imagen-uno"
    "ultimo-stream ultimo-stream"; 
    grid-template-columns: 6fr 4fr; 
    grid-template-rows: auto auto auto auto; 
    padding-top: 0px; 
    border-radius: 10px;

    h1 {
      font-size: 1.7rem;
      padding-bottom: 5px;
      display: flex;
      justify-content: center;

    }

    p {
      font-size: 1.1rem;
      padding-top: 0px;
      text-align: center;
      padding-left:10px;
      padding-right: 10px;
      padding-bottom: 43px;
    }

    h3 a {
      font-size: 1.5rem;
      padding: 5px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .donde-ver { 
    width: 100%;
    height: 100px;
    
    a img {
    width: 80px;
    height: 70%;
  }

  .twitch {
    height: 60px;
    width: 60px;
  }

  .youtube {
    height: 80px;
    width: 80px;
  }

  .spotify {
    height: 60px;
    width: 60px;
  }

  .tiktok {
    height: 60px;
    width: 60px;
  }

  }
  }



.videos {
  display: flex;
  flex-direction: column;
  align-items: center;

  .clip1 {
    width: 50%;
    height: 80px;
  }

  .clip2 {
    width: 50%;
    height: 80px;
  }
}

.recomendacion {
  h2 {
    font-size: 1.5rem;
    padding-top: 0px;
  }
 .formulario {
    background-color: rgb(255, 203, 240);
    height: 150px;
    width: 100%;
    border: black 20px solid;
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    }


    .enviar {
      margin-left: 10px;
      font-size: 1rem;
      margin-top: 10px;
      padding: 2px;
      
  
  }
}


}





